@import "../helper/mixins";

*{
  margin: 0; 
  padding: 0;
}

.container {
    @include translate(-50%,-10%);
	@include border-radius(10px);
    top: 10%;
    left: 50%;
    background-color: white;
    text-align: center;
    border: 5px solid grey;
    position: fixed;

    .sm{
    	width: 35%;
    	height: 15%;
    }

    .bg{

    }

    p{
	    padding: 5%;
	    margin: 0%;
    }
}

.gradeboxlabel {
    text-align:left;
} 

.weighboxlabel{
	text-align:left;
	padding-left:2%;
}

.hide{ 
	display:none;
}

/*input[type='number']{
	margin-left:3%;
}*/

input:disabled {
    background-color: lightgrey;
}

#form-buttons{
	padding-top:20px;
}

.indiv-weight{
	margin-left:2%;
}

#weight-lock-global{
	margin-left:20px;
}

#refresh{
	@extend #weight-lock-global;
}

.incorrect{
	@include animation(fade 5s linear); 
}

@keyframes fade{
	to { opacity: 0;}
}