@import "../helper/mixins";

/* Placeholder Selectors */
%container{
    @include translate(-50%,-10%);
	@include border-radius(10px);
    top: 10%;
    left: 50%;
    background-color: white;
    text-align: center;
    border: 5px solid grey;
    position: fixed;
    p{
		padding: 4%;
		margin: 0%;
	}
}

/* Placeholder Selectors */

*{
  margin: 0; 
  padding: 0;
}

html{
	background: #89cff0;
}

.sm{
	@extend %container;
	width: 35%;
	height: 15%;
}

.bg{
	@extend %container;
	width: 50%;
	height: auto;
	p{
		padding: 2%;
	}
}

.button{
	@include border-radius(5px);
	@include linear-gradient(#ffa500, #ffa500);
	@include box-shadow(grey 3px 3px 5px);
	padding: 5px 10px;
	color: white;
	&:hover{
		background: #eb9f14;
		cursor:pointer;
	}
	&:focus{
		outline: 0;
	}
}

.gradeboxlabel {
    text-align: left;
} 

.weighboxlabel{
	text-align: left;
	padding-left: 2%;
}

.hide{ 
	display:none;
}

#initForm input{
	display: block;
	margin: 0 auto;
	margin-bottom: 2%;
}

input:disabled {
    background-color: lightgrey;
}

#form-buttons{
	margin-top: 3%;
	margin-bottom: 3%;
}

.indiv-weight{
	margin-left: 2%;
}

#weight-lock-global{
	margin-left: 20px;
}

#refresh{
	@extend #weight-lock-global;
}

.incorrect{
	@include animation(fade 5s linear); 
}

@keyframes fade{
	to { opacity: 0;}
}