/* Placeholder Selectors */
.sm, .bg {
  -webkit-transform: translate(-50%, -10%);
  -moz-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 10%;
  left: 50%;
  background-color: white;
  text-align: center;
  border: 5px solid grey;
  position: fixed; }
  .sm p, .bg p {
    padding: 4%;
    margin: 0%; }

/* Placeholder Selectors */
* {
  margin: 0;
  padding: 0; }

.sm {
  width: 35%;
  height: 15%; }

.bg {
  width: 50%;
  height: auto; }

.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffa500;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa500), to(#ffa500));
  background: -webkit-linear-gradient(top, #ffa500 0%, #ffa500 100%);
  background: -moz-linear-gradient(top, #ffa500 0%, #ffa500 100%);
  background: -ms-linear-gradient(top, #ffa500, #ffa500);
  background: linear-gradient(to bottom, #ffa500 0%, #ffa500 100%);
  -webkit-box-shadow: grey 3px 3px 5px;
  -moz-box-shadow: grey 3px 3px 5px;
  box-shadow: grey 3px 3px 5px;
  padding: 5px 10px;
  color: white; }
  .button:hover {
    background: #eb9f14;
    cursor: pointer; }
  .button:focus {
    outline: 0; }

.gradeboxlabel {
  text-align: left; }

.weighboxlabel {
  text-align: left;
  padding-left: 2%; }

.hide {
  display: none; }

#initForm input {
  display: block;
  margin: 0 auto;
  margin-bottom: 2%; }

input:disabled {
  background-color: lightgrey; }

#form-buttons {
  padding-top: 20px; }

.indiv-weight {
  margin-left: 2%; }

#weight-lock-global, #refresh {
  margin-left: 20px; }

.incorrect {
  -webkit-animation: fade 5s linear;
  -moz-animation: fade 5s linear;
  animation: fade 5s linear; }

@keyframes fade {
  to {
    opacity: 0; } }
