.gradeboxlabel {
  text-align: left; }

.weighboxlabel {
  text-align: left;
  padding-left: 10%; }

.hide {
  display: none; }

input[type='number'] {
  margin-left: 3%; }

input:disabled {
  background-color: lightgrey; }

#form-buttons {
  padding-top: 20px; }

.indiv-weight {
  margin-left: 2%; }

#weight-lock-global, #refresh {
  margin-left: 20px; }

.incorrect {
  -webkit-animation: fade 5s linear;
  -moz-animation: fade 5s linear;
  animation: fade 5s linear; }

@keyframes fade {
  to {
    opacity: 0; } }
