/* Placeholder Selectors */
.sm, .bg {
  -webkit-transform: translate(-50%, -10%);
  -moz-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 10%;
  left: 50%;
  background-color: white;
  text-align: center;
  border: 5px solid grey;
  position: fixed; }
  .sm p, .bg p {
    padding: 4%;
    margin: 0%;
    font-weight: bold; }

/* Placeholder Selectors */
* {
  margin: 0;
  padding: 0; }

html {
  background: #708090; }

.sm {
  width: 35%;
  height: 135px; }

.bg {
  min-width: 80%;
  width: 80%;
  min-height: 50%;
  max-height: 95%;
  overflow: scroll;
  margin-top: 1%; }
  .bg p {
    padding: 2%; }
    .bg p.displaygrade {
      font-weight: normal; }

.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #735967;
  background: -webkit-gradient(linear, left top, left bottom, from(#735967), to(#735967));
  background: -webkit-linear-gradient(top, #735967 0%, #735967 100%);
  background: -moz-linear-gradient(top, #735967 0%, #735967 100%);
  background: -ms-linear-gradient(top, #735967, #735967);
  background: linear-gradient(to bottom, #735967 0%, #735967 100%);
  -webkit-box-shadow: grey 3px 3px 5px;
  -moz-box-shadow: grey 3px 3px 5px;
  box-shadow: grey 3px 3px 5px;
  padding: 5px 10px;
  color: white; }
  .button:hover {
    background: #808000;
    cursor: pointer; }
  .button:focus {
    outline: 0; }

.gradeboxlabel {
  text-align: left; }

.weighboxlabel {
  text-align: left;
  padding-left: 2%; }

.hide {
  display: none; }

#initForm input {
  display: block;
  margin: 0 auto;
  margin-bottom: 2%; }

@media only screen and (max-width: 550px) {
  #grade-amount {
    width: 90%; } }

input:disabled {
  background-color: lightgrey; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#form-buttons {
  margin-top: 3%;
  margin-bottom: 3%; }

.indiv-weight {
  margin-left: 2%; }

#weight-lock-global, #refresh {
  margin-left: 20px; }

.incorrect {
  color: red;
  opacity: 1;
  -webkit-animation: fade 5s ease;
  -moz-animation: fade 5s ease;
  animation: fade 5s ease; }

@keyframes fade {
  to {
    opacity: 0; } }
